{
    "graphStatistics": {
        "human": [
            "country_of_citizenship",
            "ethic_group",
            "religion",
            "occupation",
            "member_of_political_party"
        ],
        "organization": [
            "employees",
            "type",
            "political_ideology"
        ],
        "administrative":[
            "area",
            "GDP",
            "population",
            "continent"
        ],
        "weapon":[
            "type"
        ],
        "event":[
            "entity_list",
            "location_list",
            "event_subtype"
        ],
        "document":[
            "site_name",
            "topic"
        ],
        "numbers":[
            "area",
            "population",
            "GDP",
            "employees"
        ],
        "entity":[
            "country_of_citizenship",
            "ethic_group",
            "religion",
            "occupation",
            "member_of_political_party",
            "type",
            "political_ideology",
            "continent"
        ]
    },
    "entity_subtype":[
            "human",
            "organization",
            "administrative",
            "weapon",
            "geographic_entity",
            "CyberUser",
            "other"
    ]
}