Flask==1.0.2
typing==3.7.4
psycopg2==2.8.3
networkx==2.3
elasticsearch==6.3.1
setuptools==39.0.1
dataclasses==0.6
defaultlist==1.0.0
pymongo==3.7.2
Flask_Cors==3.0.6
requests==2.20.0
pytest==4.3.1
Flask_RESTful==0.3.7
pandas==0.24.2
tqdm==4.32.2
