{
    "graphStatistics": {
        "human": [
            "country_of_citizenship",
            "ethic_group",
            "religion",
            "occupation",
            "member_of_political_party"
        ],
        "organization": [
            "employees",
            "type",
            "political_ideology"
        ],
        "administrative":[
            "area",
            "GDP",
            "population",
            "continent"
        ],
        "weapon":[
            "type"
        ],
        "event":[
            "entity_list",
            "location_list",
            "event_subsubtype"
        ],
        "document":[
            "site_name",
            "topic"
        ],
        "numbers":[
            "area",
            "population",
            "GDP",
            "employees"
        ],
        "entity":[
            "country_of_citizenship",
            "ethic_group",
            "religion",
            "occupation",
            "member_of_political_party",
            "employees",
            "type",
            "political_ideology",
            "area",
            "GDP",
            "population",
            "continent"
        ]
    },
    "param": {
        "es": {
            "client": {
                "hosts": "10.60.1.145:9200",
                "timeout": 5000
            },
             "doc": {
                "index": "document_sg",
                "doc_type": "document_sg"
            },
            "entity": {
                "index": "entity_0910",
                "doc_type": "entity_0910"
            },
            "event": {
                "index": "event_0617",
                "doc_type": "event_0617"
            },
            "human_event": {
                "index": "event_0617",
                "doc_type": "event_0617"
            }
        },
       "mongo": {
            "host": "10.60.1.140",
            "port": "6080",
            "usr": "root",
            "pwd": "111111"
       }
    },
    "table_name": {
        "document": "document_sg",
        "entity": "entity_0910",
        "human": "entity_0910",
        "organization": "entity_0910",
        "administrative": "entity_0910",
        "event": "event_0617",
        "set": "set_data_2",
        "project": "project_data"
    },
    "data_type": [
        "human",
        "organization",
        "administrative",
        "event",
        "document"
    ],
    "search_field": {
        "document": {
            "topic": "topic"
        },
        "event": {
            "topic": "event_subtype"
        }
    }
}
